/* Styling for Exercise 3 and 5 */
#welcomeBanner {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

.highlight {
    font-weight: bold;
    text-decoration: underline;
}

/* Styling for Exercise 5 Form */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
}